* {

  margin:4px;
  padding:0px;
  background-color: aquamarine;

}

#octocat {
  display: block;
  width: 300px;
  margin: 50px auto;
}

p {


  display: flex;
  width: 400px;
  margin: 100px auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;

}
